{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    body {
        background-color: #f8f9fa;
    }

    /* #navbarTwo {
        display: none !important;
    } */

    .navbar-btn {
        margin-left: auto;
    }
</style>
<div class="d-flex align-items-center justify-content-end nav_section_block">
    <!-- <div class="container banner-text-container" style="color: #dee7e9;">
        <div style="font-size: 36px">
            <b>Payment checkout</b>
        </div>
        <p style="color: #dee7e9;">Home.Pages.<span class="" style="color: #dee7e9;"><b>Payment checkout</b></span></p>
    </div> -->
</div>
<section class="my-4" style="min-height: 40vh;">
    <div class="container my-5">
        <h1 class="mb-4">Create a Blog Post</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mb-3">
                {{ form.title.label_tag }}
                {{ form.title }}
            </div>

            <div class="form-group mb-3">
                {{ form.image.label_tag }}
                <div class="custom-file">
                    {{ form.image }}
                    <label class="custom-file-label" for="postImage">Choose file</label>
                </div>
            </div>

            <div class="form-group mb-3">
                {{ form.video.label_tag }}
                <div class="custom-file">
                    {{ form.video }}
                    <label class="custom-file-label" for="postVideo">Choose video</label>
                </div>
            </div>


            <div class="form-group mb-3">
                {{ form.quote.label_tag }}
                {{ form.quote }}
            </div>

            <div class="form-group mb-3">
                {{ form.content.label_tag }}
                {{ form.content }}
            </div>

            <div class="form-group mb-3">
                {{ form.tags.label_tag }}
                {{ form.tags }}
                <small class="form-text text-muted">{{ form.tags.help_text }}</small>
            </div>

            <button type="submit" class="btn btn-dark-custom">Submit Post</button>
        </form>
    </div>
</section>
{% endblock %}